<main class="contenedor">
    <form action="/vacantes/nueva" method: "POST" class="default-form">
        <h3>Información General</h3>
        <div class="campo">
            <label>Titulo</label>
            <input type="text" name="titulo" placeholder="Ej: React Developers" required/>
        </div>
        <div class="campo">
            <label>Empresa</label>
            <input type="text" name="empresa" placeholder="Ej: Empresa" required/>
        </div>
        <div class="campo">
            <label>Ubicación</label>
            <input type="text" name="ubicacion" placeholder="Ej: Hidalgo, México" required/>
        </div>
        <div class="campo">
            <label>Salario (USD)</label>
            <input type="text" name="Salario" placeholder="Ej: $500" required/>
        </div>
        <div class="campo">
            <label>Contrato</label>
            <select name="contrato">
                <option value="" disabled selected>Selecciona una opción</option>
                <option value="Freelance">Freelance</option>
                <option value="Tiempo Completo">Tiempo Completo</option>
                <option value="Medio Completo">Medio Completo</option>
                <option value="Por Proyecto">Por Proyecto</option>
            </select>
        </div>
    </form>
</main>